.about-me {
    padding: 2rem;
    background-color: black;
    color: #E6E6FA;
    font-family: 'Arial', sansa-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: yellow;
}

.about-me__subtitle {
    font-size: 1.5rem;
    color: #7FFF00;
    margin-bottom: 1rem;
    text-align: center;
}

.about-me__paragraph {
    margin-bottom: 1 rem;
    text-align: justify;
    color:#E6E6FA;
}

.about-me__paragraph-highlightened {
    font-weight: bold;
    color: #555;
}