.cart {
  padding: 2rem;
  background-color: black;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #FFFF00;
};

.cart__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.cart__item-description{
    font-size: 1rem;
}

.cart__item-price {
    font-size: 1rem;
    font-weight: bold;
}

.cart__summary {
    margin-top: 2rem;
    text-align: center;
}

.cart__total {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #7CFC00;
}

.cart__paypal {
    margin-top: 1 rem;
    display:flex;
    justify-content: center;
}

.cart__paypal button {
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1 rem;
}